{% extends "base.html" %}

{% block page_title %}Delete Problem{% endblock page_title %}
{% block header %}Delete Problem{% endblock header %}
{%block homepage%}"{% url 'teacher.views.teacherhome' %}"{% endblock homepage %}
{% block userinformationurl %}
	{% include "teachernavbar.html" %}
{% endblock userinformationurl %}


{% block content %}
<br/>
<div>
    Problem: {{ prob.problem }}<br/>
    Answer: {{ prob.answer }}<br/>
    Type: {{ prob.type }}<br/>
    Level: {{ prob.level }}<br/><br/>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" name = "edit" value="ok">Edit</button>
            <button type="submit" name = "back" value="no">Back</button>
        </form>
    </div>
</div>
{% endblock content %}