{% extends "base.html" %}

{%block page_title%}
	Student Information
{%endblock page_title%}

{% block header %}Student Information{% endblock header %}

{%block homepage%} {% url 'teacher.views.teacherhome' %} {% endblock homepage %}

{% block userinformationurl %}
	{% include "teachernavbar.html" %}
{% endblock userinformationurl %}

{%block content%}
<br/>
    <div class="transparentBox">
        {% if studentsList %}
            <table  border="1" style="width:760px">
                <tr>
                    <td>Username</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Current Level</td>
                    <td></td>
                </tr>
                {% for stud in studentsList %}
                <tr>
                    <td>{{stud.user.username}}</td>
                    <td>{{stud.user.first_name }}</td>
                    <td>{{stud.user.last_name }}</td>
                    <td>{{stud.current_level }}</td>
                    <td>
                        <a class = "list-group-item" href = "{% url 'teacher.views.studentinformation' pk=stud.user.id %}">Info</a>
                        <a class = "list-group-item" href = "{% url 'teacher.views.edit_student' pk=stud.user.id %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock content %}

