{% extends "base.html" %}

{% block page_title %}
	Edit Profile
{% endblock page_title %}

{%block header%}
	Edit Profile
{%endblock header%}

{%block homepage%}
	{% url 'teacher.views.teacherhome' %} 
{% endblock homepage %}


{% block userinformationurl %}
	{% include "teachernavbar.html" %}
{% endblock userinformationurl %}


{% block content %}
<br/>
<div>
    Username: {{ teach.username }}<br/>
    Name: {{teach.first_name }} {{teach.last_name }}<br/><br/><br/>
    <!--Current level: {{stud.current_level }}<br/><br/>-->
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <br/><br/>
            <button type="submit" name = "edit" value="ok">Edit</button>
            <button type="submit" name = "back" value="no">Back</button>
        </form>
        </di
{% endblock content %}