{% extends "base.html" %}

{% block page_title %}Teacher homepage{% endblock page_title %}

{% block header %}Teacher home{% endblock header %}

{%block homepage%} "#" {% endblock homepage %}

{% block userinformationurl %}
    <li> <a href = "{% url 'teacher.views.students' %}">Students information</a></li>
    <li> <a href = "{% url 'teacher.views.teacheredit' %}">Teacher profile edit</a></li>
    <li> <a href = "{% url 'teacher.views.problemsList' %}">Problems List</a></li>
{% endblock userinformationurl %}




{% block content %}
<br/>
    Welcome, {{ firstName }}!

{% if form %}
    <br/>
    Information saved

{% endif %}
{% endblock content %}