{% extends "base.html" %}
{% load staticfiles %}

{%block head%}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <!--<script type="text/javascript" src="{% static 'coloringGame.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'html5-canvas-drawing-app.js' %}"></script>
{%endblock head%}


{%block content%}
    
    <div id="canvasDiv"></div>
    <script type="text/javascript"> $(document).ready(function() {
    	 prepareCanvas();
	});</script>
	
	
	<!--<div id="canvasDiv">
		<canvas width="490" height="220" id="canvasSimple"></canvas>
		<script type="text/javascript" src="student/templates/student/coloringGame.js"></script>
    	<script type="text/javascript">
    		drawingApp.init();
			</script>
	</div>-->
{%endblock content%}


