/* gameStyles.css */
#imgBlock {
    border: solid 1px black;
    display: inline-block;
}
#answerBlock{
    border: solid 1px black;
    border-radius: 5px;
    background-color: #CCFF99;
    display: inline-block;
}