{% extends "base.html" %}
{% load staticfiles %}


{%include 'student_interface.html' %}
{% block content %}
<img src = "{% static 'world5.jpg' %}" alt="map" usemap="#gamemap">
<map name="gamemap">
    <area shape="circle" coords="180,95,42" alt="1game" href = "{% url 'student.views.game1' %}">
    <area shape="circle" coords="245,205,45" alt="1game" href = "{% url 'student.views.game2' %}">
    <area shape="circle" coords="395,180,60" alt="1game" href = "{% url 'student.views.game3' %}">
    <area shape="circle" coords="415,65,40" alt="1game" href = "{% url 'student.views.game4' %}">
    <area shape="circle" coords="520,85,65" alt="1game" href = "{% url 'student.views.game5' %}">
    <!--<area shape="circle" coords="615,250,40" alt="1game" href = "{% url 'student.views.game6' %}">-->
    <!--<area shape="rect" coords="150,330,600,370" alt="1game" href = "{% url 'student.views.game7' %}">-->

</map>

{% endblock content %}