{% load staticfiles %}

<html>
	<head>
		<title>Student Interface</title>
	</head>
	<body>
		<h1>Welcome, {{ name }}</h1>
		<a href = "{% url 'student.views.game1' %}">First Game</a>
		&nbsp;
		<a href = "{% url 'student.views.game2' %}">Second Game</a>
		&nbsp;
		<a href = "{% url 'student.views.game3' %}">Third Game</a>
		&nbsp;
		<a href = "{% url 'student.views.game4' %}">Fourth Game</a>
		&nbsp;
		<a href = "{% url 'student.views.game5' %}">Fifth Game</a>
		&nbsp;
		<a href = "{% url 'student.views.game6' %}">Sixth Game</a>
		&nbsp;
		<a href = "{% url 'student.views.game7' %}">Seventh Game</a>
	</body>

</html>