{% extends "base.html" %}
{% load staticfiles %}


{% block page_title %}
Student Profile
{% endblock page_title %}

{%block homepage%}{% url 'student.views.home' %}{% endblock homepage %}
{% block userinformationurl %}
    <li> <a href = "{% url 'student.views.studentedit' %}">Profile edit</a></li>
    <li> <a href = "{% url 'student.views.profile' %}">Profile</a></li>
{% endblock userinformationurl %}





{% block content %}

<!--<table style="width:100%; border-collapse: collapse; border-width:1px; border-color:#336600;border-style:solid;color:#009900;">-->
<div class="transparentBox">

    <table style="width:400px; border-collapse: collapse; border-color: #000000; border-width:1px;border-style:solid;">
        <tbody>
        <tr>
            <td>Username:</td>
            <td align="center">{{ username }}</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td align="center">{{ fname }}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td align="center">{{ lname }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td align="center">{{ email }}</td>
        </tr>
        <tr>
            <td>Current Level:</td>
            <td align="center">{{ gameLevel }}</td>
        </tr>
        </tbody>
    </table>
    <p>

    <table style="width:400px;border-width:1px;border-color: #000000;border-style:solid;">
        <thead>
        <tr>
            <th colspan="2">Level Scores</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><div id="NA"></div></td>
            <td>North America</td>
            <td>{{ firstScore }}</td>
        </tr>
        <tr>
            <td><div id="SA"></div></td>
            <td>South America</td>
            <td>{{ secondScore }}</td>
        </tr>
        <tr>
            <td><div id="AF"></div></td>
            <td>Africa</td>
            <td>{{ thirdScore }}</td>
        </tr>
        <tr>
            <td><div id="EU"></div></td>
            <td>Europe</td>
            <td>{{ fourthScore }}</td>
        </tr>
        <tr>
            <td><div id="AS"></div></td>
            <td>Asia</td>
            <td>{{ fifthScore }}</td>
        </tr>
        <tr>
            <td><div id="AU"></div></td>
            <td>Australia</td>
            <td>{{ sixthScore }}</td>
        </tr>
        <tr>
            <td><div id="AN"></div></td>
            <td>Antarctica</td>
            <td>{{ seventhScore }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    if ({{ firstScore }} != "-"){
        document.getElementById("NA").innerHTML = "<img src = '/static/Wolf.png' width='89' height='100'>"
    }
    if ({{ secondScore }} != "-"){
        document.getElementById("SA").innerHTML = "<img src = '/static/game2/monkeyColor.jpg' width='105' height='100'>"
    }
    if ({{ thirdScore }} != "-"){
        document.getElementById("AF").innerHTML = "<img src = '/static/images/cartoon-tiger-outline.png' width='67' height='100'>"
    }
    if ({{ fourthScore }} != "-"){
        document.getElementById("EU").innerHTML = "<img src = '/static/game4/reindeerColor.png' width='84' height='100'>"
    }
    if ({{ fifthScore }} != "-"){
        document.getElementById("AS").innerHTML = "<img src = '/static/game5/pandaColor.png' width='96' height='100'>"
    }
    if ({{ fourthScore }} != "-"){
        document.getElementById("AU").innerHTML = "<img src = '/static/game6/kangarooColor.jpg' width='100' height='100'>"
    }
    if ({{ fourthScore }} != "-"){
        document.getElementById("AN").innerHTML = "<img src = '/static/game7/penguins.png' width='105' height='100'>"
    }
</script>
{% endblock content %}