{% extends "base.html" %}
{% load staticfiles %}


{% block page_title %}
Student Profile
{% endblock page_title %}

{%block homepage%}{% url 'student.views.home' %}{% endblock homepage %}
{% block userinformationurl %}
    <li> <a href = "{% url 'student.views.studentedit' %}">Profile edit</a></li>
    <li> <a href = "{% url 'student.views.profile' %}">Profile</a></li>
{% endblock userinformationurl %}


{% block header %} Welcome, {{ fname }} {{ lname }} {% endblock header %}

{% block content %}
<div class="transparentBox">
<table style="width:200px; border-collapse: collapse; border-width:1px; border-color:#336600;border-style:solid;color:#009900;">
    <tbody>
    <tr>
        <td>Username:</td>
        <td align="center">{{ username }}</td>
    </tr>
    <tr>
        <td>First Name:</td>
        <td align="center">{{ fname }}</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td align="center">{{ lname }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td align="center">{{ email }}</td>
    </tr>
    <tr>
        <td>Current Level:</td>
        <td align="center">{{ gameLevel }}</td>
    </tr>
    </tbody>
</table>
<p>

<table style="width:500px; border-collapse: collapse; border-width:1px; border-color:#336600;border-style:solid;color:#009900;">
    <thead>
    <tr>
        <th colspan="3" style="background-color:#15a857;color:#FFFFFF;font-size: xx-large">Level Scores</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="center"><div id="NA"></div></td>
        <td style="font-size: larger">North America</td>
        <td style="font-size: larger">{{ firstScore }}</td>
    </tr>
    <tr>
        <td align="center"><div id="SA"></div></td>
        <td style="font-size: larger">South America</td>
        <td style="font-size: larger">{{ secondScore }}</td>
    </tr>
    <tr>
        <td align="center"><div id="AF"></div></td>
        <td style="font-size: larger">Africa</td>
        <td style="font-size: larger">{{ thirdScore }}</td>
    </tr>
    <tr>
        <td align="center"><div id="EU"></div></td>
        <td style="font-size: larger">Europe</td>
        <td style="font-size: larger">{{ fourthScore }}</td>
    </tr>
    <tr>
        <td align="center"><div id="AS"></div></td>
        <td style="font-size: larger">Asia</td>
        <td style="font-size: larger">{{ fifthScore }}</td>
    </tr>
    <tr>
        <td align="center"><div id="AU"></div></td>
        <td style="font-size: larger">Australia</td>
        <td style="font-size: larger">{{ sixthScore }}</td>
    </tr>
    <tr>
        <td align="center"><div id="AN"></div></td>
        <td style="font-size: larger">Antarctica</td>
        <td style="font-size: larger">{{ seventhScore }}</td>
    </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
    if ({{ firstScore }} != "-"){
        document.getElementById("NA").innerHTML = "<img src = '/static/Wolf.png' width='89' height='100'>"
    }
    if ({{ secondScore }} != "-"){
        document.getElementById("SA").innerHTML = "<img src = '/static/game2/monkeyColor.jpg' width='105' height='100'>"
    }
    if ({{ thirdScore }} != "-"){
        document.getElementById("AF").innerHTML = "<img src = '/static/images/cartoon-tiger-outline.png' width='67' height='100'>"
    }
    if ({{ fourthScore }} != "-"){
        document.getElementById("EU").innerHTML = "<img src = '/static/game4/reindeerColor.png' width='84' height='100'>"
    }
    if ({{ fifthScore }} != "-"){
        document.getElementById("AS").innerHTML = "<img src = '/static/game5/pandaColor.png' width='96' height='100'>"
    }
    if ({{ fourthScore }} != "-"){
        document.getElementById("AU").innerHTML = "<img src = '/static/game6/kangarooColor.jpg' width='100' height='100'>"
    }
    if ({{ fourthScore }} != "-"){
        document.getElementById("AN").innerHTML = "<img src = '/static/game7/penguins.png' width='105' height='100'>"
    }
</script>
{% endblock content %}