<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/loginStyles.css">
		<!--<link href="/static/css/bootstrap.css" rel="stylesheet">-->
		<title>{% block page_title%} Travel the World {% endblock page_title%}</title>
	</head>
	
    <header>
        <h1>{% block header %}Amazing Race{% endblock header %}</h1>
    </header>
    
    <body>
    <div id = "nav" >
        <div class = "navbar navbar-default navbar-static-top">
            <div class = "container">
                <!--<div class = "navbar-header">-->
                    <!--<a class = "navbar-brand" href = "#">Home</a>-->
                <!--</div><-->
                <ul id = "navbar" class = "nav navbar-nav navbar-right">
                	<li><a href = "#">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'main_logout' %}">Logout</a></li>
                    <li><a href="{% url 'teacher.views.studentinformation'%}">Student Info</a></li>
                    {% else %}
                    <li><a href="{% url 'main_login' %}">Login</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
	</div>
    
    <!--<hr /> -->   
    
    <div id ="content">
        {% block content %}
        {% endblock content %}
    </div>
        
        
    </body>
</html>