{% extends "base.html" %}

{%block page_title%}
Amazing Race
{%endblock page_title%}

{%block header%} Amazing Race {%endblock header%}


{%block content %}
<div class="transparentBox">
<div id = "login">
	<section class = "loginform cf">
		<form role="form" class = "form" method="post" accept-charset="utf-8">
        		{% csrf_token %}
            	{{ form }}
               	<input type="submit" value="Login">                             
		</form>  
	</section>
</div>
</div>
{%endblock content %}


